# ==================== MyApp - Keycloak Config ====================
PORT=3000

# Keycloak Server
KEYCLOAK_URL=http://localhost:8080
KEYCLOAK_REALM=myapp-realm
KEYCLOAK_CLIENT_ID=myapp-client
KEYCLOAK_CLIENT_SECRET=thay-bang-client-secret-cua-ban

# Redirect URI
KEYCLOAK_REDIRECT_URI=http://localhost:3000/callback

# Session
SESSION_SECRET=super-long-random-string-1234567890abcdef

NODE_ENV=development
